.friendList {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    justify-content: space-between;
}
.item {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.status {
    display: block;
    width: 20px;
    height: 5px;
    background-color: black;
}

